Source: siddio
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Homepage: https://github.com/ltworf/siddio
Build-Depends: debhelper (>= 10), python3, dh-python, dh-systemd

Package: siddio-iocontrol
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-rpi.gpio, python3-configobj
Description: siddio is a distributed home automation project
 .
 This package is meant to run on raspberry pi or similar and
 control the GPIO pins that are connected to the devices.
 .
 The configuration allows user defined tags that are used by
 homecontrol to query the devices.

Package: siddio-homecontrol
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-relational, python3-configobj
Description: siddio is a distributed home automation project
 .
 This package controls one or more iocontrol daemons and
 sets the profiles.

#Package: siddio-panel
#Depends: qml-module-qtquick-controls2, qml-module-qtquick-templates2
#Architecture: any

Package: siddio-setprofile
Architecture: all
Depends: netcat-openbsd, ${misc:Depends}
Recommends: bash-completion
Description: siddio is a distributed home automation project
 .
 This package provides the shell client to connect to a homecontrol server
