Source: siddio
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Homepage: https://github.com/ltworf/siddio

#Package: siddio-iocontrol
#Architecture: all
#Depends: ${misc:Depends}, ${python3:Depends}

#Package: siddio-homecontrol
#Architecture: all

#Package: siddio-panel
#Depends: qml-module-qtquick-controls2, qml-module-qtquick-templates2
#Architecture: any

Package: siddio-setprofile
Architecture: all
Depends: netcat-openbsd, ${misc:Depends}
Recommends: bash-completion
Description: siddio is a distributed home automation project
 .
 This package provides the shell client to connect to a homecontrol server
