#!/usr/bin/make -f
SHELL=sh -e

%:
	dh $@ --with python3

override_dh_auto_install:
	make -C setprofile DESTDIR=../debian/siddio-setprofile install
	make -C iocontrol DESTDIR=../debian/siddio-iocontrol install
	make -C homecontrol DESTDIR=../debian/siddio-homecontrol install
