[Unit]
Description=Camera service
Documentation=man:lightdm(1)
After=multi-user.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/salvo/siddio/camera/app.py
Restart=always
User=pi
ProtectSystem=full
RestartSec=120
Restart=always
